@model Company.Web.Areas.Admin.Models.PasswordEditViewModel;

<!-- Set Password Modal -->
<div class="modal fade" id="password-modal" tabindex="-1" aria-labelledby="password-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="password-modal-label">Please, enter new password for @Model.FullName:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="password-modal-body">
                <form id="pass-change-form" asp-action="ChangePassword" asp-controller="user" asp-area="Admin">
                    <input type="hidden" asp-for="Id" />
                    <div class="mb-3">
                        <label asp-for="NewPassword" class="form-label"></label>
                        <div class="input-group mb-3">
                            <input type="password" asp-for="NewPassword" class="form-control auth-pass">
                            <button type="button" class="btn btn-secondary" onclick="togglePass('NewPassword')">
                                <i id="Password-eye-show" class="bi bi-eye"></i>
                                <i id="Password-eye-hide" hidden class="bi bi-eye-slash"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="password-modal-button">Save</button>
            </div>
        </div>
    </div>
</div>

