<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Person Information</title>
    </head>
    <body>
        <p>
            Please, enter correct address to get personal information.
        </p>
        <p>
            Address template: <b>.../person/&lt; person_name &gt;/&lt; person_age &gt;</b>
        </p>
    </body>
</html>
