<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Person Information</title>
</head>
<body>
    Your name is <b>@ViewBag.Name</b>, you're <b>@ViewBag.Age</b> years old
</body>
</html>
