<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
    </head>
    <body>
        <h3>
            Enter url to address bar:
        </h3>
        <ul>
            <li>
                <b>.../person/&lt; person_name &gt;/&lt; person_age &gt;</b> - for personal information;
            </li>
            <li>
                <b>.../square/&lt; number &gt;</b> - for square evaluation;
            </li>
        </ul>
    </body>
</html>