@model Company.Web.Models.CandidateEditModel;
@{
    ViewBag.Title = "Edit";
}

<div class="mainboard" style="--mw:800px;">

    <div class="d-flex gap-2 justify-content-between m-2 p-2">
        <h2 class="text-primary">Edit information about @Model?.FullName</h2>
    </div>

    <div class="mb-4">
        <form method="post">
            <div class="mb-3">
                <label asp-for="FullName" class="form-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Phone" class="form-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LinkedIn" class="form-label"></label>
                <input asp-for="LinkedIn" class="form-control" />
                <span asp-validation-for="LinkedIn" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Experience" class="form-label"></label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PositionId" class="form-label"></label>
                <select asp-for="PositionId" asp-items="Model.Positions" class="form-select">
                    <option value="">No position</option>
                </select>

            </div>

            <div class="mb-3 col-12 container ps-0">
                <label class="form-label" for="skill-list">Skills</label>
                <ul class="list-unstyled row" name="skill-list">
                    @foreach (var item in Model.Skills)
                    {
                        <li class ="list-item col-4">
                            <label>
                                <input class="form-check-input me-1" type="checkbox" name="SkillIds" value="@item.Value" checked="@Model.HasSkill(item.Value)" />
                                @item.Text
                            </label>
                        </li>
                    }
                </ul>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Save</button>
                <a asp-action="List" class="btn btn-secondary">Return to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}