<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Square calculator</title>
    </head>
    <body>
        <h3>Squares calculator</h3>
        <p>
            Please, enter correct address for square evaluation.
        </p>
        <p>
            Address template: <b>.../square/&lt; number &gt;</b>
        </p>
        <p>
            NOTE! The &lt; number &gt;-parameter is allowed to be an arbitraty integer number (signed).
        </p>
    </body>
</html>
