<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Square of Number @ViewBag.number</title>
</head>
<body>
    The square of number <b>@ViewBag.Number</b> is equal to <b>@ViewBag.Result</b>.
</body>
</html>