@{
    ViewBag.Title = "Error";
}

<div class="mainboard" style="--mw:500px;">
    <h2 class="text-danger">Error 404</h2>
    <div class="mb-4">
        <p>
            Your request cannot be served. Requested URL doesn't exist.
        </p>
    </div>
</div>